@{
    ViewData["Title"] = "Your files";
    Layout = "~/Views/Shared/_LayoutLogined.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <style>
        main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        body {
            font-family: "Montserrat", sans-serif;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Your files</h1>
    </div>
</body>
</html>