@model User
@{
	ViewData["Title"] = "Sign Up";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <style>
        main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        body {
            font-family: "Montserrat", sans-serif;
        }

        input {
            height: 45px;
            width: 100%;
            border: 2px solid #E9F2FF;
            border-radius: 5px;
            padding-left: 25px;
        }

            input:focus {
                outline: none;
                border: 2px solid #C1D9FD;
            }

        .circle {
            position: absolute;
            z-index: -2;
            width: 534px;
            height: 534px;
            border-radius: 50%;
            background: #F7FAFF;
            box-shadow: 0px 4px 70px 6px rgba(217, 229, 255, 0.25);
        }

        .register-form-container {
            width: 100%;
            position: relative;
            max-width: 415px;
            z-index: 2;
            background: #FFFFFF;
            box-shadow: 0px 6px 50px rgba(217, 229, 255, 0.7);
            border-radius: 20px;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 38px;
            padding-bottom: 38px;
        }

        .form-field {
            margin-bottom: 13px;
        }

        .button {
            font-weight: bold;
            font-size: 14px;
            display: block;
            height: 45px;
            width: 100%;
            background: #247FFF;
            border-radius: 5px;
            color: #FFF;
            text-transform: uppercase;
            text-align: center;
            line-height: 45px;
            margin-bottom: 13px;
            cursor: pointer;
        }

            .button:hover {
                background-color: #0D6CF2;
            }

        a.button {
            text-decoration: none;
        }

        .authorization-button {
            color: #C6CFDC;
            background: #F2F6FF;
            margin-top: 30px;
        }

            .authorization-button:hover {
                background: #E2E6F0;
                color: #FFF;
            }
    </style>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Sign Up</h1>
        <div class="circle"></div>
        <form asp-controller="Account" asp-action="SignUp" method="post">
            <div class="register-form-container" asp-controller="Account" asp-action="CreateNewUser" method="post">
                <div class="form-field">
                    <input type="email" asp-for="EmailAddress" placeholder="E-Mail"/>
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>
                <div class="form-field">
                    <input type="password" asp-for="Password" placeholder="Password"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-field">
                    <input type="password" asp-for="PasswordConfirmation" placeholder="Confirm Password"/>
                    <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
                </div>
                <div class="form-buttons">
                    <button class="button" type="submit">Sign Up</button>
                    <a class="button authorization-button" asp-area="" asp-controller="Account" asp-action="SignIn">
                        Already have an account? Let's Sign In!
                    </a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
